h1 {
  font-family: 'century gothic';
  text-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px white,
                0 0 30px white,
                0 0 40px white;
}

h3 {
  text-shadow: 0 0 5px #fff,
                0 0 10px #fff,
                0 0 20px white,
                0 0 30px white,
                0 0 40px white;
}
